html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

body {
  margin: 0%;
  background-color: #f5f7f8;
}

header {
  text-align: center;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #495e57;
  color: #f5f7f8;
}
#players {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.player-tile {
  border: 1px solid #495e57;
  background-color: #f5f7f8;
  border-radius: 6px;
  width: 48px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#dice {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 8px;
  border-color: #45474b;
  border-width: 1px;
}

#dice:hover {
  background-color: #495e57;
  border-color: #495e57;
  color: #f5f7f8;
  cursor: pointer;
  transform: scale(1.1);
}

#current-turn {
  text-align: center;
}

#table {
  border: 5px solid #495e57;
  min-width: 300px;
  min-height: 300px;
  border-collapse: separate;
  border-spacing: 0cap;
  border-radius: 10px;
}

#grid-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#first-row > td {
  border-bottom: 1px solid black;
}

#second-row > td {
  border-bottom: 1px solid black;
}

.left {
  border-right: 1px solid black;
}

.center {
  border-right: 1px solid black;
}

td {
  text-align: center;
}

.cell {
  height: 88px;
  width: 88px;
  border: none;
  border-radius: 10px;
}

.cell:hover {
  background-color: #495e57;
  color: #f5f7f8;
  cursor: pointer;
}

#button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#restart {
  display: none;
  border: none;
  background-color: #fbbf24;
  padding: 10px;
  border-radius: 8px;
}

#restart:hover {
  cursor: pointer;
}
